<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Mutual Likes</h2>
      <ul>
        <% @mutually_liked_users.each do |user| %>
          <li class="mutual_user"><%= link_to user.username, user %>

            <a href="#" role="button" class="show_chat btn btn-xs btn-default" data-like-id="<% user.likes.each do |like| %><%= like.id if like.liked_user_id == current_user.id %><% end %>">Chat</a>

            <a href="#" role="button" class="hide_like btn btn-xs btn-default" data-like-id="<% user.likes.each do |like| %><%= like.id if like.liked_user_id == current_user.id %><% end %>">Hide (Forever)</a>

            <!-- Find the chat that matches this user and the current_user -->
            <% chat = Chat.create_or_find(@user, user) %>

            <!-- Show all messages -->
            <br>
            <div class="message-box">
            <% chat.messages.each do |message| %>
              <% if message.content.start_with?(current_user.username) %>
                <div class="my-message"> <%= message.content %></div>
              <% else %>
                <div class="other-message"> <%= message.content %></div>
              <% end %>
            <% end %>
          </div>

            <!-- Field to submit new message via jquery -->
            <%= form_tag Message.new, class: "chat_form" do %>

              <%= text_area_tag :content, "write your message here", {cols: 50, rows: 3} %>
              <%= hidden_field_tag :from, @user.id %>
              <%= hidden_field_tag :to, user.id %>
              <%= hidden_field_tag :chat_id, chat.id %>

            <%= submit_tag "Send message" %>
            <% end %><br>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>