<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<% if current_user %>
  <%= form_for @user, action: "update", controller: "user" do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= collection_select :user, Neighborhood.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <%= f.submit "Submit Changes" %>

  <% end %>


  <% image_tag User.items.all do |photo| %>
    <%= photo.url(:medium) %>
  <% end %>
<% end %>
