<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<!-- 
<%= #form_for @user, action: "update", controller: "user" do |f| %>

  <%= #f.@user name %>
  <%= #f.@user email %>


  <%= #f.submit "Submit Changes" %>
<% #end %> -->

<div class="field">
  <% form_for @user, action: "update", controller: "users" do |f|
  <%= f.label :photo %><br />
  <%= f.file_field :photo %>
  <%= f.submit "Upload Photo" %>
</div>

<% image_tag User.items.all do |photo| %>
<%= photo.url(:medium) %>
<%= end %>
