<h1>random_wagon_nearby</h1>
<h2>Wagons near <%= @user.name %></h2>

<h3>Neighborhoods</h3>
<ul>
  <% @user.neighborhoods.each do |hood| %>
    <li><%= hood.name %></li>
  <% end %>
</ul>

<h2><%= @stranger.username %>'s Wagon</h2>
<% @stranger.items.each do |item| %>
  <%= item.name %><br>
  <%= image_tag item.photo.url(:square) %><br>
<% end %><br>

<% if Like.where(user_id: @user.id, liked_user_id: @stranger.id).empty? %>
  <span id="<%= @user.id %>" class="<%= @stranger.id %>"><%= link_to "Like", create_like_path, {id: "like_button", class: "not_yet_liked"} %></span>
<% else %>
  <span id="<%= @user.id %>" class="<%= @stranger.id %>"><%= link_to "Like", create_like_path, {id: "like_button", class: "already_liked"} %></span>
<% end %><br>

<%= link_to "Next Wagon", random_wagon_nearby_path(username: @user.username), id: "next_wagon_button" %>