<br>
<br>
<br>
<div class="row">
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <h1 class="text-center"><%= @stranger.username.capitalize %>'s Wagon</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 photos-stranger">
    <div class="photos-stranger">
      <% @stranger.items.each do |item| %>
        <% if item.photo.url != "/assets/missing.png" %>
          <div class="photo-stranger">
            <%= image_tag item.photo.url(:square), class: "stranger-img-tag" %><br>
            <p class="text-center"><%= item.name %></p><br>
          </div>
        <% end %>
      <% end %><br>
    </div>
  </div> <!-- End of photos div -->
</div> <!-- End of wagon row -->

<div class="container like-or-not-buttons-div">
  <div class="like-button-div">
    <% if Like.where(user_id: @user.id, liked_user_id: @stranger.id).empty? %>
      <span id="<%= @user.id %>" class="<%= @stranger.id %>"><%= link_to "Like this Wagon", create_like_path, {id: "like_button", class: "not_yet_liked btn btn-lg btn-success", role: "button"} %></span>
    <% else %>
      <span id="<%= @user.id %>" class="<%= @stranger.id %>"><%= link_to "Like this Wagon", create_like_path, {id: "like_button", class: "already_liked btn btn-lg btn-success", role: "button"} %></span>
    <% end %><br>
  </div>
  <div class="next-wagon-div">
    <%= link_to "Next Wagon >>", random_wagon_nearby_path(username: @user.username), id: "next_wagon_button", class: "btn btn-lg btn-success" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-4 col-md-4"></div>
    <div class="like-success alert alert-info col-xs-4 col-md-4 col-md-4"></div>
    <div class="col-xs-4 col-md-4 col-md-4"></div>
  </div>
</div>
