<h2>Hello <%= @user.name %>!</h2>

<h3>Here is your info.</h3>
<%= link_to "Troll for wagons, you addict.", show_wagon_path(username: @user.username) %>
<span class="username"><%= @user.username %></span><br>
<%= @user.email %><br>

<%= link_to "Edit your profile", edit_user_path(@user) %>

<p><%= button_to 'Delete your account', @user, method: :delete %></p>

<div class="photos">
  <% @user.items.each do |item| %>
    <div class="photo" id="<%= item.id %>">
      <%= image_tag item.photo.url(:square) %><br>
      <%= item.name %><br>
    </div>
  <% end %>
</div>

<div id="cover"></div>

<iframe id="edit_frame" src=""></iframe>
<!-- 
  IFRAMES: order of ops <br>
   *FINISHED SUBMITTING. NOW WHU'?
   -> GO TO DUMMY PAGE: 
      - Display success or not for a hot second.
      - Get the image to update in the original page.

                var timestamp = new Date().getTime();
                $(this).attr('src',$(this).attr('src') + '?' +timestamp );

   - JQuery on main page listens for click on any iframe submit. If hit, fadeTo(200,0) for the iframe.<br>
   - then redirect back to edit_user_path(@user)<br>
 -->



