<h2>Hello <%= @user.name %>!</h2>

<h3>Here is your info.</h3>

<span class="username"><%= @user.username %></span><br>
<%= @user.email %><br>

<span class="edit_link">Edit your profile</span>

<p><%= button_to 'Delete your account', @user, method: :delete %></p>

<div class="photos">
  <% @user.items.each do |item| %>
    <div class="photo" id="<%= item.id %>">
      <%= image_tag item.photo.url(:square) %><br>
      <%= item.name %><br>
    </div>
  <% end %>
</div>

<div id="cover"></div>

<iframe id="edit_frame" src=""></iframe>

  DEALING WITH IFRAMES: :) <br>
   - JQuery on main page listens for click on any iframe submit. If hit, fadeTo(200,0) for the iframe.<br>
   - iframe Submit button will send a post request to items#update, then redirect back to edit_user_path(@user)<br>






