<h1>Wagons near <%= @user.name %></h1>

<h3>Neighborhoods</h3>
<ul>
  <% @user.neighborhoods.each do |hood| %>
    <li><%= hood.name %></li>
  <% end %>
</ul>

<h2><%= @stranger.username %>'s Wagon</h2>
<% @stranger.items.each do |item| %>
  <%= item.name %><br>
  <%= image_tag item.photo.url(:square) %><br>
<% end %><br>

<%= link_to "Like", create_like_path, id: "like_button" %>

LIKE BUTTON
when user clicks like...
...Like.create(user_id: @user.id, liked_user: @stranger.id)






