<h2>Hello <%= @user.name %>!</h2>

<h3>Here is your info.</h3>
<%= link_to "Troll for wagons, you addict.", show_wagon_path(username: @user.username) %>
<span class="username"><%= @user.username %></span><br>
<%= @user.email %><br>

<%= link_to "Edit your profile", edit_user_path(@user) %>

<p><%= button_to 'Delete your account', @user, method: :delete %></p>

<div class="photos">
  <% @user.items.each do |item| %>
    <div class="photo" id="<%= item.id %>">
      <% if item.photo_file_name %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
      <%= image_tag item.photo.url(:square) %><br>
      <span><%= item.name %></span><br>
    </div>
  <% end %>
</div>

<div id="cover"></div>

<iframe id="edit_frame" src=""></iframe>