<h2>Hello <%= @user.name %>!</h2>

<h3>Here is your info.</h3>
Username: <span class="username"><%= @user.username %></span><br>
<%= @user.email %><br>
<%= @user.neighborhoods.first.name %><br>

<p><%= button_to 'Delete your account', @user, method: :delete %></p>

<div class="photos">
  <% @user.items.each do |item| %>
    <div class="photo" id="<%= item.id %>">
      <i class="glyphicon glyphicon-remove"></i>
      <%= image_tag item.photo.url(:square) %><br>
      <span><%= item.name %></span><br>
    </div>
  <% end %>
</div>

<div id="cover"></div>

<iframe id="edit_frame" src=""></iframe>

<h2>Mutual Likes</h2>
<ul>
  <% mutual_users = @user.inverse_liked_users.select {
    |user| @user.liked_users.include?(user) } %>
  <% mutual_users.each do |user| %>
    <li><%= link_to user.username, user %>
      <a href="#" role="button" class="hide_like btn btn-xs btn-default" data-like-id="<% user.likes.each do |like| %><%= like.id if like.liked_user_id == current_user.id %><% end %>">Hide</a>
    </li>
  <% end %>
</ul>

<h2>Likes My Wagon</h2>
<ul>
  <% current_user.inverse_liked_users.each do |user| %>
    <li><%= link_to user.username, user %>
      <a href="#" role="button" class="hide_like btn btn-xs btn-default" data-like-id="<% user.likes.each do |like| %><%= like.id if like.liked_user_id == current_user.id %><% end %>">Hide</a>
    </li>
  <% end %>
</ul>