<!DOCTYPE html>
<html>
<head>
  <title>Red Wagon</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <h1>Red Wagon</h1>
  <ul>
    <%= link_to "Root", root_path %>
    <% if logged_in? %>
      <li> Logged In As:  <%= current_user.username %> </li>
      <%= button_to "Logout", destroy_session_path %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "New User", new_user_path %>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
