<!DOCTYPE html>
<html>
<head>
  <title>RedWagon</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <h1>Red Wagon</h1>
      <ul>
        <%= link_to "Profile", @user %>
        <% if logged_in? %>
          <li> Logged In As:  <%= current_user.username %> </li>
          <%= link_to "Logout", destroy_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_session_path %>
          <%= link_to "New User", new_user_path %>
        <% end %>
      </ul>
    </nav>

<%= yield %>
</body>
</html>
